@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
:root, [data-bs-theme=dark] {--bs-dark-rgb: 0, 40, 80;}

/* Root控制整體字體 */
html{font-size: 20px;}

body{
    font-family: "微軟正黑體", "Noto Sans TC", sans-serif;
}
li{font-size: 0.8rem;}

